<include file="Public/header" />
<link href="__CSS__/book_det.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/jqzoom2012.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/polltxt.css" rel="stylesheet" type="text/css" />
<script src="__JS__/comment.js" type="text/javascript"></script>
<script type="text/javascript" src="__JS__/jquery.jqzoom.min.js"></script>
<script src="__JS__/new_poll.js?v3.1" type="text/javascript"></script>
<script src="__JS__/jquery_block.js?v3.1" type="text/javascript"></script>
<script type="text/javascript">

</script>
<div id="book_detailed_main">
	<div class="local">
    您所在的位置：<a href="<?php echo SITE_URL ?>" class="ico">首页</a>
    <a href="__MODULE__/Magazine.html" class="ico">杂志 </a>
    <a href="__MODULE__/Index/book_search.html?cate_id={$book_detail['big_cate']['id']}" class="ico">{$book_detail['big_cate']['name']}</a>
    <a href="__MODULE__/Index/book_search.html?cate_id={$book_detail['cate_name']['id']}" class="ico">{$book_detail['cate_name']['name']}</a><a href="javascript:void(0);">{$book_detail['name']}</a>
    </div>
    
    <!--==================== book_detailed_left begin   ====================-->
    <div id="book_detailed_left">
    	     <!--===== bd1_left 杂志分类 begin   =====--> 
    	<div class="m_sort">
            <h1><img src="__IMAGE__/m_bd1_title.jpg" /></h1>
    <h2 style=" width:120px;padding: 0 15px;height:30px; line-height:30px; font-size:14px;color: #FC7A2B;">
    <a href="__URL__/index.html" style="color: #FC7A2B; text-decoration:none;" title="有声读物">所有杂志</a></h2>
               
            <foreach name="big_cate" item="vo">
             	<dl class="sort-on"><dt class="orange"><a href="__MODULE__/Index/book_search.html?cate_id={$vo['id']}" >{$vo['name']}</a></dt>
             		<dd>
             	<foreach name="small_cate" item="vo1">
             		<if condition="$vo1['p_id'] eq $vo['id'] ">
             			 <a href="__MODULE__/Index/book_search.html?cate_id={$vo1['id']}" > {$vo1['name']} </a>
             		</if>
             	</foreach>
             		</dd></dl>
             </foreach>  
                
        
        
     </div>
     <!--===== bd1_left 杂志分类 end   =====--> 
  

         
    </div>
    <!--==================== book_detailed_left end     ====================-->
    
    <!--==================== book_detailed_right begin     ====================-->
    <div id="book_detailed_right">
        
        <!--**********  杂志详情 begin   **********-->
        <div class="magazine_detailed margin_top12">
        	<div class="pic"><div class="jqzoom"><img src="{$book_detail['img']}"></div></div>
            <div class="deta_content">
            	<div class="tit">
                	<div class="tit_date_left">
                    <h2>{$book_detail['name']}</h2>
                    <b></b>
                    </div>
                    
                    <div class="tit_date_right">
                    	<div class="share" id="dofav"><a href="__MODULE__/Personal/collect.html?book_id={$book_detail['id']}" title="">收藏</a></div>
                    </div>
                </div>
                
                <div style="clear:both"></div>
                <div class="deta_left margin_top12">
                	<div class="table_ui">
                    	<ul>
                        <li>作者：<a href="#" target="_blank" >{$book_detail['author']}</a></li>
                        <li class="fg">页数：{$book_detail['pages']}</li>
                        </ul>
                    </div>
                    <div class="Publi">
                    <ul>
                    <li>出版社：<a href="" target="_blank">四川文艺出版社</a></li>
                    </ul>
                    </div>
                    
                    
                	<div class="book_intro">
                    	<ul>
           					<li>所属分类：<a href="__MODULE__/Index/book_search.html?cate_id={$book_detail['big_cate']['id']}">{$book_detail['big_cate']['name']}</a>><a href="__MODULE__/Index/book_search.html?cate_id={$book_detail['cate_name']['id']}">{$book_detail['cate_name']['name']}</a></li>
                        </ul>
                    </div>
       
                    
                    
                    <div class="mag_down">
                    	<a href="__MODULE__/Book/book_reading.html?book_id={$book_detail['id']}"><img src="__IMAGE__/mag_det/mag_down1.jpg" /></a>
                        <!--**********<a href="javascript:void(0);" id="downloadurl" onclick="js_showShared();" target="_blank"><img src="__IMAGE__/mag_det/mag_down2.jpg" /></a>**********-->
                        <a href="#"><img src="__IMAGE__/mag_det/mag_down3.jpg" /></a>
                    </div>
              </div>
                
              <div class="deta_right">
      
        
              </div>
                
            </div>
        </div>
        <!--**********  杂志详情 end   **********-->
        
        <!--**********  最佳组合 begin   **********-->
        <div class="mag_zuhe clear">
        	<div class="zuhe_tit">
            	<h3>为您推荐</h3>
   
            </div>
            
            <div class="zuhe_cont clear">
            	<div class="magazine-left clear">
                    	<div class="zuhe-center" id="zuhe_1">
						
                          <foreach name="book_put" item="vo">
                          	<div class="zuhe_magazine zuhe_magazine_sel" >
                            <a  class="mag_id" combin_id="" href="__URL__/mag_detail.html?mag_id={$vo['id']}" title="" target="_blank"><img width="111" src="{$vo['img']}" /></a>
                            <div class="tit"><a href="__URL__/mag_detail.html?mag_id={$vo['id']}" target="_blank" title="{$vo['name']}">{$vo['name']}</a></div>
                            <h5>{$vo['add_time']|date="Y年m月",###}</h5>
                           </div>
                          </foreach>
                                
                         
						 </div>
                    	
                    	
                </div>
       
            </div>
        </div>
        <!--**********  最佳组合 end   **********-->
        
       <!-- <div class="right-banner margin_top12"></div>-->
        
        <!--**********  图书详情 begin   **********-->
        <div class="mag_comment margin_top12">
        	<div class="comment_title">
            <ul>
            <li class="on" id="li003"><a href="javascript:void(0);" onclick="mag_user_pl('li003');">图书详情</a></li>
          
            </ul>
            </div>
          
          <div class="comment_conter clear" >
          	<!--**********  图书简介 begin     **********-->
            <div class="comment_about">
            	<div class="comment_Cycle">
                	<ul>
                    <li>出版时间：2013-02-10</li>
                    <li class="fg">ISBN：{$book_detail['ibsn']}</li>
                    </ul>
                    <ul>
                    
                    <li class="fg">语言：中文</li>
                    <li class="fg">出版社：{$book_detail['public']}</li>
                    </ul>
                </div>
                
                <div class="Intr-content">
                	<div class="title">简介：</div>
                    <p>{$book_detail['description']}</p>
                </div>
                
                   <div class="Intr-content">
                	<div class="title">作者简介：</div>
                    <p>暂无</p>
                	</div>
                	
                    <div class="Directory">
                    	<div class="title">目录：</div>
                        <p>
                        <foreach name="book_dir" item="vo">
                        	{$vo['level']|str_repeat="&nbsp;&nbsp;",###}{$vo['title']}<br>
                        </foreach>
                      
                        </p>
                        </div>
                    <div class="clear"></div>
            </div>
           <!--**********  图书简介 begin     **********-->
           
          </div>
        <!--**********  图书详情 end     **********-->
        
          <!--**********  用户评论  begin     **********-->

<div class="clear"></div>
         <div class="comment_title margin_top12">
            <ul>
            <li class="on" ><a href="javascript:void(0);">杂志评论</a></li>
          
            
            </ul>
            </div>
          
         
         <div class="mag_user_pl">
          <a name="commenttop"></a>
            <div class="message" id="comment">
            <div class="top">
<span>评论</span>共{$count}条数据
</div>

<ul>

<foreach name="com_b" item="vo" key="k">

	<li class="cmt_f1" class="">
				 <!--会员头像-->
	                <div class="user_list">
	        			<div class="user_ico_s">
	        			                	<img src="<notempty name="vo['img']">{$vo['img']}<else />__IMAGE__/user_img/user_default.png</notempty>" width="50px" height="45px" />
	                	        				
	        			</div>
	                 </div>
	                 <div class="intro">
	           	<div class="item_content">
	                <div class="tool_bar">
	                	<div class="date"> 
	                	     {$vo['u_name']['username']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo['time'] |date="Y年m月",###}
	                	 </div>
	                	 
	                	<div class="tool_button cmt_f1_hover_show">
		                	<a href="#pre" onclick="reply_to({$vo.id});">我要回复</a>
		                </div>
		                
	                </div>
	                
	                <div class="content" id="comment_102"> {$vo['contents']} </div>
	                </div>
	<foreach name="com_s" item="vo1">
		<if condition="$vo1['p_id'] eq $vo['id']">
			<div class="post_item cmt_f2">
                	<!--会员头像-->
                    <div class="user_list">
	        			<div class="user_ico_s">
	        		                	<img src="<notempty name="vo['img']">{$vo['img']}<else />__IMAGE__/user_img/user_default.png</notempty>" width="30px" height="25px" />
                		
	        			
	        			</div>
                    </div>
                    <!--会员头像结束-->
                    <!--回复内容-->
                    <div class="reply">
	                    <div class="tool_bar">
	                		<div class="date">                 	{$vo1['username']}                	                	{$vo1['time'] |date="Y年m月",###} </div>
	                		<div class="tool_button cmt_f2_hover_show">								
															</div>
		                </div>
                    </div>
                    
                    <div class="content" id="comment_103">{$vo1['contents']} </div>
				
                	<div class="clear">
                </div>
                                <!--引用回复结束-->
            </div>
		</if>
	</foreach>
	 		
	    </div>
	</li>
</foreach>

	            <!--会员头像结束-->
	            
	            
	                
	                
				     
	           
	
</ul>


<div class="clear"></div>
<!--page-->
				<div class="page">
						<div style="width:380px;">
						{$page}
						</div>
				</div>
<!--page-->
<div class="clear"></div>
<!--submit-->
<a name="pre" id="pre"></a>
<div id="precom"></div>
<form name="comment_form" action="" method="post" id="comment_form">
	<div class="submit">
		<div class="title">
			<div class="tit">我要发表评论</div>
			<div class="picture">
				<div class="choose"><!--选择表情</div><div class="pic"><img src="images_v3/dooland_final_01_10.jpg" />--></div>
			</div>
		</div>
		<div class="input">
			<textarea name="comment_content" id="comment_content" cols="" rows="" class="text"></textarea>
			<div class="clear"></div>
			<div class="table">
			
				<empty name="Think.session.userdata">
					<div id="comment_login">
					帐户：<input id="comment_name" name="username" type="text" class="txt">
					密码：<input id="comment_password" name="userpassword" type="password" class="txt">
					<input name="提交" type="button" class="but" value="登 录" onclick="comment_login();">
					<span><a href="__MODULE__/Index/register.html" target="_blank">注册新帐户</a></span>
				</div>
				</empty>
				
				<input type="hidden" id="user" name="u_id" value="{$Think.session.userdata.id}">
				<input type="hidden" name="issuetype" id="issuetype" value="mag">
				<input type="hidden" id="mag_id" name="book_id" value="{$book_detail['id']}">
				<input type="hidden" id="parent_id" name="p_id" value="">
				<input  type="submit" name="comment_sub" class="but" value="发 表" onclick="return check_comment_login();" id="sendpost">
			</div>
		</div>
	
	</div>
</form>
<!--submit-->
</div>
         </div>
          <!--**********  用户评论  end       **********-->
        
        </div>
        
</div>
	<!--==================== book_detailed_right end       ====================-->
<div class="clear"></div>
</div>




<script language="javascript" type="text/javascript"><!--

	function comment_login(){
		var name=document.getElementById("comment_name").value;
		var passwd=document.getElementById("comment_password").value;//alert(window.location.href);
		if(name&&passwd){
			$.post('',{username:name,passwd:passwd,ajax:'ajax'},function(msg){
				if(msg){
					history.go(0);
				}else{
					alert('用户名或密码错误');
				}
			},'json');
		}else{
			alert('帐户或密码不能为空');
		}
		
	}
	function check_comment_login(){
		var u_id=document.getElementById("user").value;
		if(u_id=='') {
			alert("请先登录！");
			document.getElementById("comment_name").focus();
			return false;
		}
		if($('#comment_content').val().trim() == ''){
			alert('写两个字吧');
			return false;
		}
		//else{
			//var contents=$('#common_contents').val();
			//var data={
				//	u_id:u_id,
					//contents:contents,
				//}
			//$.post('',data,function(){
				
		//	},'json');
		//}
	}
	function reply_to(p_id){
		document.getElementById("parent_id").value=p_id;
		alert("请输入内容");
		document.getElementById("comment_content").focus();
	}
	
	
--></script>
<include file="Public/fooder" />