<div id="footer">
查询用时 0.007619 秒，Gzip 已禁用，内存占用 1.753 MB<br />
版权所有 &copy; <?php echo date("Y-m-d") ?> 河池学院2011级信息与计算科学1班-方智 毕业设计答辩。
</div>
<!-- 
<li class="explode" key="06_stats" name="menu" id="menu1"><div class="menu_top">网站后台</div>
		  <ul>
          <li class="menu-item"><a href="__URL__/main.html" target="main-frame">后台首页</a></li>
          <li class="menu-item"><a href="" target="main-frame">231315</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品分类</a></li>
        </ul>
</li>

  <li class="explode" key="02_cat_and_goods" name="menu" id="menu0"><div class="menu_top">权限管理  </div>
          <ul>
          <li class="menu-item"><a href="__URL__/admin_list.html" target="main-frame">管理员列表</a></li>
          <li class="menu-item"><a href="__URL__/admin_add" target="main-frame">添加管理员</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品分类</a></li>
        </ul>
      </li>
       <li class="explode" key="02_cat_and_goods" name="menu" id="menu3"><div class="menu_top">用户管理  </div>
          <ul>
          <li class="menu-item"><a href="" target="main-frame">用户列表</a></li>
        </ul>
      </li>
       <li class="explode" key="02_cat_and_goods" name="menu" id="menu4"><div class="menu_top">图书管理  </div>
          <ul>
          <li class="menu-item"><a href="" target="main-frame">图书分类</a></li>
          <li class="menu-item"><a href="" target="main-frame"></a></li>
          <li class="menu-item"><a href="category.php?act=list" target="main-frame">商品分类</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品品牌</a></li>
          <li class="menu-item"><a href="" target="main-frame">添加品牌</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品回收站</a></li>
        </ul>
      </li>
      <li class="explode" key="02_cat_and_goods" name="menu" id="menu4"><div class="menu_top">后台布局  </div>
          <ul>
          <li class="menu-item"><a href="__MODULE__/Menu/menu_list" target="main-frame">左边菜单列表</a></li>
          <li class="menu-item"><a href="__MODULE__/Menu/menu_add" target="main-frame">增加左边菜单</a></li>
          <li class="menu-item"><a href="__MODULE__/Menu/menu_edit" target="main-frame">修改菜单</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品品牌</a></li>
          <li class="menu-item"><a href="" target="main-frame">添加品牌</a></li>
          <li class="menu-item"><a href="" target="main-frame">商品回收站</a></li>
        </ul>
      </li> -->