
<!--  footer begin   ====================-->
<div id="footer_2011news">
	<div id="bottom">
    	<a style="margin-left: 0pt;" href="http://corp.dooland.com/" target="_blank">关于我们</a> |
    	 <a href="http://corp.dooland.com/relation.html" target="_blank">联系我们</a> | 
    	 <a href="help.php?template=035" target="_blank">帮助中心</a> |  <a href="help/helpuserguide.htm" target="_blank">新手指南</a> | 
    	    
    	  <a href="http://corp.dooland.com/about_6.html" target="_blank">免责声明</a>  |  

    	  <a target="_blank" href="friendlink.php" target="_blank">友情链接</a> | 

    	    <a href="#top2">返回顶部</a>

    </div>
    
   
        
        	<div class="bottom3">
           版权所有 &copy; <?php echo date("Y-m-d") ?> 河池学院2011级信息与计算科学1班-方智 毕业设计答辩。
            </div>
            
            
</div>
<!--  footer end   ====================-->
</body>
</html>
