html{_background-image:url(http://www.readnovel.com/web/text.txt);_background-attachment:fixed;}
#google_ads_div_homepage_pop{position:relative;z-index:1;font-size:0;line-height:0;height:0;overflow:hidden;}
.w100{width:100px;}
.w200{width:200px;}
.w300{width:300px;}
.mulan-root-max,.mulan-root-max *,.mulan-root-min,.mulan-root-min *{overflow:visible;font-size:12px;}
.mulan-root-max{background:#B6DEF1;height:30px;z-index:999;position:fixed;width:100%;bottom:0;left:0;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);}
.mulan-close{float:left;width:45px;border-right:1px solid #79B6E7;height:20px;line-height:20px;margin-top:6px;_line-height:24px;overflow:hidden;text-align:center;cursor:pointer;}
.mulan-close a{width:45px;height:20px;color:#333;display:block;text-decoration:none;}
.mulan-close a:visited{color:#333;text-decoration:none;}
.mulan-close a:hover{text-decoration:none;color:#F60}
.mulan-arrow{display:inline-block;background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) no-repeat 0 -101px;*background-position:0 -106px;_background-position:0 -101px;width:10px;height:19px;margin-left:5px;*vertical-align:middle;}
.mulan-root-max .active .mulan-arrow{background-position:0 -79px;*background-position:0 -84px;_background-position:0 -79px;}
.mulan-jd{float:right;position:relative;zoom:1;width:86px;height:30px;line-height:30px;text-align:center;}
.mulan-jd1{float:right;position:relative;zoom:1;height:30px;width:100px;line-height:30px;text-align:right;}
.jd-title{height:16px;overflow:hidden;line-height:16px;_line-height:20px;border-left:1px solid #79B6E7;margin-top:8px;margin-top:9px\9;_margin-top:8px;}
.jd-title11{height:16px;overflow:hidden;line-height:16px;_line-height:20px;margin-top:8px;margin-top:9px\9;_margin-top:8px;border-left:1px solid #CCC;}
.mulan-jd a{display:block;padding-right:5px;height:16px;background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) no-repeat;color:#333;}
.mulan-jd1 a{display:block;padding-right:10px;height:16px;color:#333;vertical-align:baseline}
.mulan-jd a:link,.mulan-jd a:visited,.mulan-jd a:active{background-position:64px -147px;}
.mulan-jd a:hover{background-position:64px -172px;text-decoration:underline;color:#f60;}
.mulan-jd1 a:hover{text-decoration:underline;}
.mulan-jd span.num{padding:2px;line-height:12px;background:#F00;color:#FFF;position:absolute;top:-8px;right:3px;}
.mulan-jd-tree{position:absolute;right:0;bottom:30px;width:220px;border:1px solid #3dcef5;padding:15px 10px 0px;background:#f5fbfe;}
.mulan-jd-tree a,.mulan-jd-tree a:visited{line-height:26px;color:#1A53FF;text-decoration:none;}
.mulan-jd-tree a:hover{color:#F60;text-decoration:none;}
.mulan-jd-tree .tree-one{padding-left:0;}
.mulan-gonggao{float:right;height:30px;line-height:32px;text-align:right;padding-right:10px;overflow:hidden;}
.mulan-gonggao a{color:#1A53FF;text-decoration:none;}
.mulan-gonggao a:visited{color:#1A53FF;text-decoration:none;}
.mulan-gonggao a:hover{color:#f60;text-decoration:none;}
.mulan-common{float:left;position:relative;z-index:999;zoom:1;width:101px;border-right:1px solid #CCC;height:30px;line-height:30px;text-align:center;}
.common-title{height:30px;overflow:hidden;_line-height:34px;}
.common-title a{color:#333;text-decoration:none;}
.common-title a:visited{color:#333;text-decoration:none;}
.common-title a:hover{color:#f60;text-decoration:none;}
.mulan-common-tree{position:absolute;z-index:999;zoom:1;left:0;bottom:30px;width:90px;border:1px solid #3dcef5;padding:15px 5px 5px;background:#f5fbfe;}
.tree-one{height:28px;border-bottom:1px solid #ace0f9;position:relative;zoom:1;z-index:999;text-align:left;padding-left:10px;line-height:26px;}
.tree-one a{color:#1A53FF;text-decoration:none;}
.tree-one a:visited{color:#1A53FF;text-decoration:none;}
.tree-one a:hover{color:#f60;text-decoration:none;}
.mulan-common-tree .active{background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) repeat-x 0 -34px;}
.mulan-common-tree .active a{font-weight:bold;color:#fff;}
.mulan-common-tree .active a:visited{color:#fff;text-decoration:none;}
.mulan-common-tree .active a:hover{color:#fff;text-decoration:none;}
.mulan-close1{position:absolute;top:2px;right:5px;width:14px;height:14px;}
.mulan-close1 a{background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) repeat-x 0 -63px;width:14px;height:14px;display:block;}
.mulan-common-tree .tree-two{position:absolute;z-index:1000;left:80px;bottom:0px;zoom:1;border:1px solid #68DAF7;padding:5px;background:#E9F8FE;text-align:left;}
.tree-two li{position:relative;z-index:1000;zoom:1;height:26px;border-bottom:1px solid #ace0f9;}
.mulan-common-tree .tree-two a{color:#1A53FF;font-weight:400;text-decoration:none;}
.mulan-common-tree .tree-two a:visited{color:#1A53FF;text-decoration:none;}
.mulan-common-tree .tree-two a:hover{color:#F60;text-decoration:none;}
.tree-two li.m{border-bottom:0 none;text-align:right;}
.line-none,.tree-two .line-none{border-bottom:0}
.mulan-root-min{background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) repeat-x 0 0;height:31px;width:45px;z-index:999;position:fixed;width:45px;bottom:0;left:0;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);border-right:solid 1px #CCC;}
.mulan-jd-tree1{position:absolute;right:0;bottom:30px;width:230px;height:120px;border:1px solid #DDD;padding:10px;background:url(http://www.readnovel.com/web/images/zzq_jrrm.png) repeat-x;}
.mulan-jd-tree1:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.mulan-close2{position:absolute;top:2px;right:5px;width:14px;height:14px;}
.mulan-close2 a{background:url(http://www.readnovel.com/web/images/lhl_mulan_sp.png) repeat-x 0 -63px;width:14px;height:14px;display:block;}*/
.zm_newPic{width:66px;padding:5px 5px 0 0;float:left;clear:left;height:100px;display:inline;}
.zm_newBookInfo{width:145px;height:120px;float:left;text-align:left;display:inline;}
.zm_newBookInfo *{line-height:18px;}
.zm_newBookInfo h4{font-size:12px;line-height:12px;margin:0;padding:0;height:16px;}
.zm_newBookInfo h4 a, .zm_newBookInfo span a{line-height:14px;}
.zm_newBookInfo span{display:block;margin:3px 0;_margin:-3px 0;height:16px;}
.zm_newBookInfo p{display:block;padding:0px 0px 5px 0px;display:inline;}
.mulan-jd-tree a,.mulan-jd-tree a:visited,.mulan-jd-tree1 a,.mulan-jd-tree1 a:visited{line-height:26px;color:#1A53FF;text-decoration:none;}
.mulan-jd-tree a:hover,.mulan-jd-tree1 a:hover{color:#F60;text-decoration:none;}
.mulan-jd-tree .tree-one{padding-left:0;}
.mulan-gonggao{float:right;height:30px;line-height:32px;text-align:right;padding-right:10px;overflow:hidden;}
.mulan-gonggao a{color:#1A53FF;text-decoration:none;}
.mulan-gonggao a:visited{color:#1A53FF;text-decoration:none;}
.mulan-gonggao a:hover{color:#f60;text-decoration:none;}
.mulan-rolling{float:left;height:30px;line-height:32px;overflow:hidden;padding-left:25px;background:url(http://img.readnovel.com/web/ws_002_new1.gif) no-repeat scroll  5px -1601px transparent;text-align:left;}
.mulan-rolling a{color:#333;text-decoration:none;}
.mulan-rolling a:visited{color:#333;text-decoration:none;}
.mulan-rolling a:hover{color:#f60;}
.mulan-common{float:left;position:relative;z-index:999;zoom:1;width:101px;border-right:1px solid #CCC;height:30px;line-height:30px;text-align:center;}
.common-title{height:30px;overflow:hidden;_line-height:34px;}
.common-title a{color:#333;text-decoration:none;}
.common-title a:visited{color:#333;text-decoration:none;}
.common-title a:hover{color:#f60;text-decoration:none;}
.mulan-common-tree{position:absolute;z-index:999;zoom:1;left:0;bottom:30px;width:90px;border:1px solid #3dcef5;padding:15px 5px 5px;background:#f5fbfe;}
.tree-one{height:28px;border-bottom:1px solid #ace0f9;position:relative;zoom:1;z-index:999;text-align:left;padding-left:10px;line-height:26px;}
.tree-one a{color:#1A53FF;text-decoration:none;}
.tree-one a:visited{color:#1A53FF;text-decoration:none;}
.tree-one a:hover{color:#f60;text-decoration:none;}
.mulan-common-tree .active{background:url(http://www.readnovel.com/web/images/lhl_mulan_sp.png) repeat-x 0 -34px;}
.mulan-common-tree .active a{font-weight:bold;color:#fff;}
.mulan-common-tree .active a:visited{color:#fff;text-decoration:none;}
.mulan-common-tree .active a:hover{color:#fff;text-decoration:none;}
.mulan-close1{position:absolute;top:5px;right:5px;width:14px;height:14px;}
.mulan-close1 a{background:url(http://www.readnovel.com/web/images/lhl_mulan_sp.png) repeat-x 0 -63px;width:14px;height:14px;display:block;}
.mulan-common-tree .tree-two{position:absolute;z-index:1000;left:80px;bottom:0px;zoom:1;border:1px solid #68DAF7;padding:5px;background:#E9F8FE;text-align:left;}
.tree-two li{position:relative;z-index:1000;zoom:1;height:26px;border-bottom:1px solid #ace0f9;}
.mulan-common-tree .tree-two a{color:#1A53FF;font-weight:400;text-decoration:none;}
.mulan-common-tree .tree-two a:visited{color:#1A53FF;text-decoration:none;}
.mulan-common-tree .tree-two a:hover{color:#F60;text-decoration:none;}
.tree-two li.m{border-bottom:0 none;text-align:right;}
.line-none,.tree-two .line-none{border-bottom:0}
.mulan-root-min{background:#B6DEF1;height:31px;width:45px;z-index:999;position:fixed;width:45px;bottom:0;left:0;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);border-right:solid 1px #CCC;}*/
.game-rolling{float:left;height:28px;width:28px;overflow:hidden;padding:1px 3px;border-right:dotted 1px #CCC;}
#show_bottom_word_hot a{background:none;padding:0;display:inline;}
#baidu_dan_wrapper_242654{bottom:32px !important;} 
.mulan-jd-game{float:right;position:relative;zoom:1;width:115px;height:30px;line-height:30px;text-align:center;}
.jd-title-game{height:16px;overflow:hidden;line-height:16px;_line-height:20px;margin-top:8px;margin-top:9px\9;_margin-top:8px;}
.jd-title-game a{display:block;height:16px;background:url(http://img.readnovel.com/web/gametxt.gif) no-repeat left 1px;overflow:hidden;text-indent:-99999px;}
.jd-title-game a.orange{color:#F60;}
.jd-box-game{width:150px;position:absolute;bottom:29px;right:40px;border:solid 1px;border-color:#FFD688 #C2A367 #FFD688 #FFD688;background:#FFF9EC;z-index:99999;height:80px;}
.jd-box-game span.con3{width:13px;height:7px;background:url(http://img.readnovel.com/web/gamecon3.gif) no-repeat 0 0;position:absolute;left:75px;display:block;bottom:-6px;_bottom:-13px;}
.jd-box-game a.close{position:absolute;top:5px;right:5px;width:14px;height:14px;background:url(http://img.readnovel.com/web/lhl_mulan_sp.png) repeat-x 0 -63px;cursor:pointer;}
.jd-box-game .played{padding:25px 10px 3px;_padding:30px 10px 3px;background:url(http://img.readnovel.com/web/gametit1.png) no-repeat 2px 2px;}
.jd-box-game .played li{line-height:22px;height:22px;text-align:left;vertical-align:middle;}
.jd-box-game .played li img{vertical-align:middle;margin:-2px 5px 0 0;margin:0 5px 0 0\9;position:relative;}
@media screen and (-webkit-min-device-pixel-ratio:0){.jd-box-game .played li img{margin:-4px 5px 0 0;}}
.jd-box-game .played li a{margin:0 10px 0 0;color:#333;}
.jd-box-game .played li a:hover{color:#1952FF;text-decoration:underline;}
.jd-box-game p.more{height:18px;line-height:18px;text-align:right;}
.jd-box-game .nogame{padding:20px 10px 15px 40px;line-height:18px;text-align:left;background:url(http://img.readnovel.com/web/gametit2.png) no-repeat 6px 22px;}
.jd-box-game .nogame a em{text-decoration:underline;font-style:normal;}
.jd-box-game p.more{background:none;position:relative;}
.jd-box-game p.more a:link{color:#1a53ff;text-decoration:none;}
.jd-box-game p.more a:visited{color:#1a53ff;text-decoration:none;}
.jd-box-game p.more a:hover{color:#f60;text-decoration:none;}
.jd-box-game p.more a:active{color:#1a53ff;text-decoration:none;}
.Advert{width:950px;height:90px;overflow:hidden;margin-bottom:5px;}
h4.gamefree{font:lighter 12px/20px "宋体";color:#F60;text-align:left;padding:2px 5px 0;}
div.gamefree1{font:lighter 12px/20px "宋体";height:20px;text-align:left;padding:2px 5px 2px 8px;vertical-align:middle;position:relative;}
div.gamefree1 a{font:lighter 12px/20px "宋体";}
div.gamefree1 img{width:18px;height:18px;margin-right:5px;vertical-align:middle;margin-top:-4px;_margin-top:-2px;}
div.gamefree1 span{width:36px;display:inline-block;_display:inline;_zoom:1;background:#FFDD9C;color:#D93600;font:lighter 12px/18px "宋体";border-radius:3px;text-align:center;position:absolute;right:8px;top:2px;}
div.gamefree1 a:hover span{background:#FFB584;}
.fenlei13{width:688px;height:30px;background:#FFFEF5;border:1px solid #FEB505;line-height:30px;margin-bottom:10px;}
.fenlei13 b{margin-left:10px;}
.fenlei13 a{color:#333;}
.fenlei13 a:hover{color:red;}